<h1>Yaren House rules:</h1>

<ul>
  <% @tasks.each do |task| %>
    <li><%=task.id  %> <%= link_to task.title, task_path(task) %></li>
  <% end %>
</ul>

<p><%= link_to "New Task", "/tasks/new" %></p>
